html {
    font-size: 10px;

    body {
        font-family: 'Poppins', sans-serif;
        color: #777;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.625em;
    }
}

  .area-header {
      text-align: center;
      padding: 7rem;
  }
